################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DarkMessages.Service/DarkMessages.Service/appsettings.json
/DarkMessages.DesktopApp/DarkMessages.DesktopApp/appSettings.json
